header,nav,section,article,aside,footer,div{
display: block;
border: 1px solid brown;

box-sizing: border-box;
}
.wrap{ /* header, section, footer 하위 태그 */
            width: 100%;
            max-width: 1300px; /* 최대 가로 길이 */
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        /* header 부분 */
.header{ /* div, nav 하위 태그 */
    height: 200px;
    display: flex;
    flex-direction: column;
}
.header_top{
    height: 80%;
    display: flex;
}
.header_logo, .header_alarm{
    width: 20%;
}
.header_logo{
    display: flex;
    justify-content: center;
}
.header_search{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_form{
    width: 80%;
    height: 30%;
    display: flex;
}
.search_form > input{
    width: 80%;
}
.search_form > button{
    width: 20%;
}
.header_nav{
    height: 20%
}
.menu_wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
.main_menu{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main_menu > a{
    font-size: 20px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}
.sub_wrap{
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: white;
    display: none;
}
.sub_menu{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_menu > a{
    color: pink;
    text-decoration: none;
}
.main_menu:hover > div{
    display: block;
}

/* section 부분: 내용 부분 */
.content_wrap {
    min-height: 500px;
    display: flex;
}
.content_news{
    width: 70%
}
.content_side{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.content_side_myinfo{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_form{
    width: 90%;
    height: 70%;
    display: flex;
}
.login_input_wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.login_input_wrap > input{
    height: 100%;
}
.login_btn{
    width: 30%
}
.login_btn > button{
    width: 100%;
    height:100%;
}
.content_side_ad{
    height:350px;
}
.login_etc{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* flex에서 간격 띄우기 */
}
.login_etc > a{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

/* footer 부분: 바닥글 부분 */
.footer{
    height: 200px;
    display: flex;
    flex-direction: column;
}
.footer_link{
    height: 20%;
    display: flex;
    align-items: center;
}
.footer_link > a{
    color:#000;
    font-weight: bold;
    margin: 15px;
    text-decoration: none;
}
.footer_info{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.footer_info_company{
    height: 75%;
    list-style: "~ ";
    padding-left: 20px;
    margin-top:5px;
}
.footer_info_company > li{
    font-size: 12px;
}
.footer_info_copyrighter{
    height: 25%;
    text-align: center;
}