* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.nav,
.header,
.content_banner,
.content_notice,
.content_trend,
.content_login,
.content_shopping,
.footer {
    border: 1px solid gainsboro;
    margin-top: 10px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;

}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.header_logo {
    flex: 1;
}

.header_search {
    flex: 1;
}

.search_form {
    display: flex;
    width: 350px;
    height: 40px;
}

.search_form input {
    flex: 1;
}


.search_form button {
    width: 80px;
}

.header_etc {
    flex: 1;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    list-style: none;

}

.nav li a {
    text-decoration: none;
    color: black;
}

/* content */
.content {
    display: flex;
}

.content_right {
    margin-left: 10px;
}

.content_notice {
    display: flex;
    justify-content: space-between;
}

.content_notice {
    padding: 20px 20px;
}

.content_notice a {
    text-decoration: none;
    color: black;
}

.content_right {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.content_login {
    display: flex;
    flex-direction: column;
}

.login_form {
    display: flex;
    width: 100%;
    height: 100px;
}

.login_input_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.login_input_wrap input {
    flex: 1;
}

.login_btn {
    display: flex;

}

.login_etc {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login_etc a {
    text-decoration: none;
    color: black;
}

.login_input_wrap {
    flex: 1;
}

.content_shopping {
    display: flex;
    height: 406px;
}

.content_shopping img {
    width: 100%;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
}

.footer_link {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.footer_link a {
    text-decoration: none;
    color: black
}

.footer_info {
    display: flex;
    flex-direction: column;
}

.footer_info_company {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}
.footer_info_copyright{
    padding: 10px;
    display:flex;
    justify-content: center;
}